<%= if @current_user do %>
  <header class="w-full">
    <div class="flex justify-between bg-amber-100">
      <div class="flex mt-4 overflow-x-scroll">
        <a href="/" class="font-serif text-2xl text-amber-700 font-bold mx-2">Supac</a>
        <a href="/" class="mx-1 mb-7 p-1 border-b-4 hover:border-b-amber-400">Chart</a>
        <a href="/leads" class="mx-1 mb-7 p-1 border-b-4 hover:border-b-amber-400">Lead</a>
        <a href="/cons" class="mx-1 mb-7 p-1 border-b-4 hover:border-b-amber-400">Con</a>
        <a href="/coms" class="mx-1 mb-7 p-1 border-b-4 hover:border-b-amber-400">Com</a>
        <a href="/appos" class="mx-1 mb-7 p-1 border-b-4 hover:border-b-amber-400">Appo</a>
        <a href="/tasks" class="mx-1 mb-7 p-1 border-b-4 hover:border-b-amber-400">Task</a>
        <a href="/prods" class="mx-1 mb-7 p-1 border-b-4 hover:border-b-amber-400">Prod</a>
        <form action="/search" method="get" class="">
          <input type="search" class="rounded-md ml-4 h-9 w-28" name="term" value="" placeholder="🔍" autocomplete="off">
        </form>
      </div>
      <div class="mx-2 mt-1">
        <div><%= @current_user.name %></div>
        <div>
          <%= link "Settings", to: Routes.user_settings_path(@conn, :edit), class: "hover:underline underline-offset-4" %>
        </div>
        <div>
          <%= link "Logout", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "hover:underline underline-offset-4" %>
        </div>
      </div>
    </div>
  </header>
<% end %>

<main class="w-full">
  <%= if get_flash(@conn, :info) do %>
    <p class="mx-2 mt-6 sm:mx-8 md:mx-16 lg:mx-24 xl:mx-48 px-8 py-2 bg-sky-200/75 rounded text-sky-700" role="alert"><%= get_flash(@conn, :info) %></p>
  <% end %>
  <%= if get_flash(@conn, :error) do %>
    <p class="mx-2 sm:mx-8 md:mx-16 lg:mx-24 xl:mx-48 px-8 py-2 bg-red-200/75 rounded text-red-700" role="alert"><%= get_flash(@conn, :error) %></p>
  <% end %>

  <%= @inner_content %>
</main>
