<header>
  <div class="flex justify-center">
    <div class="flex justify-center">
      <a href="/" class="font-serif bg-blue-300">Supac</a>
      <a href="/" class={if @active_tab == :chart, do: "bg-green-300", else: ""}>Chart</a>
      <a href="/leads" class={if @active_tab == :lead, do: "bg-green-300", else: ""}>Lead</a>
      <a href="/cons" class={if @active_tab == :con, do: "bg-green-300", else: ""}>Con</a>
      <a href="/coms" class={if @active_tab == :com, do: "bg-green-300", else: ""}>Com</a>
      <a href="/appos" class={if @active_tab == :appo, do: "bg-green-300", else: ""}>Appo</a>
      <a href="/tasks" class={if @active_tab == :task, do: "bg-green-300", else: ""}>Task</a>
      <a href="/prods" class={if @active_tab == :prod, do: "bg-green-300", else: ""}>Prod</a>
      <form action="/search" method="get" class="search_form">
        <input type="search" class="search_input" style="width:100px;" name="term" value="" placeholder="🔍" autocomplete="off">
      </form>
    </div>

    <div>
      <%= if @current_user do %>
        <div><%= @current_user.name %></div>
        <div>
          <%= link to: Routes.user_settings_path(@socket, :edit) do%>
            Settings
          <% end %>
        </div>
        <div>
          <%= link to: Routes.user_session_path(@socket, :delete), method: :delete do %>
            Logout
          <% end %>
        </div>
      <% else %>
        <div><%= link "Register", to: Routes.user_registration_path(@socket, :new) %></div>
        <div><%= link "Log in", to: Routes.user_session_path(@socket, :new) %></div>
      <% end %>
    </div>
  </div>
</header>

<main class="w-full">

  <p class="alert alert-info" role="alert" style="font-weight: bold;"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>

  <p class="alert alert-danger" role="alert" style="font-weight: bold;"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>

  <%= @inner_content %>
</main>
