<header class="w-full">
  <div class="flex justify-between bg-amber-100">
    <div class="flex mt-4 overflow-x-scroll">
      <a href="/" class="font-serif text-2xl text-amber-700 font-bold mx-2">Supac</a>
      <a href="/" class={Lv13Web.Nav.tab_style(@active_tab, :chart)}>Chart</a>
      <a href="/leads" class={Lv13Web.Nav.tab_style(@active_tab, :lead)}>Lead</a>
      <a href="/cons" class={Lv13Web.Nav.tab_style(@active_tab, :con)}>Con</a>
      <a href="/coms" class={Lv13Web.Nav.tab_style(@active_tab, :com)}>Com</a>
      <a href="/appos" class={Lv13Web.Nav.tab_style(@active_tab, :appo)}>Appo</a>
      <a href="/tasks" class={Lv13Web.Nav.tab_style(@active_tab, :task)}>Task</a>
      <a href="/prods" class={Lv13Web.Nav.tab_style(@active_tab, :prod)}>Prod</a>
      <form action="/search" method="get" class="search_form">
        <input type="search" class="rounded-md ml-4 h-9 w-28" name="term" value="" placeholder="🔍" autocomplete="off">
      </form>
    </div>

    <div class="mx-2 mt-1">
      <%= if @current_user do %>
        <div><%= @current_user.name %></div>
        <div>
          <%= link to: Routes.user_settings_path(@socket, :edit), class: "hover:underline" do%>
            Settings
          <% end %>
        </div>
        <div>
          <%= link to: Routes.user_session_path(@socket, :delete), method: :delete, class: "hover:underline" do %>
            Logout
          <% end %>
        </div>
      <% else %>
        <div><%= link "Register", to: Routes.user_registration_path(@socket, :new), class: "hover:underline" %></div>
        <div><%= link "Log in", to: Routes.user_session_path(@socket, :new), class: "hover:underline" %></div>
      <% end %>
    </div>
  </div>
</header>

<main class="w-full">

<%= if live_flash(@flash, :info) do %>
  <p class="mx-2 mt-6 sm:mx-8 md:mx-16 lg:mx-24 xl:mx-48 px-8 py-2 bg-sky-200/75 rounded text-sky-700" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %></p>
<% end %>

<%= if live_flash(@flash, :error) do %>
  <p class="mx-2 mt-6 sm:mx-8 md:mx-16 lg:mx-24 xl:mx-48 px-8 py-2 bg-red-200/75 rounded text-red-700" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %></p>
<% end %>

  <%= @inner_content %>
</main>
