<div style="display: flex; justify-content: space-between;">
  <.form
    let={f}
    for={:appo_search}
    id="appo-search"
    phx-submit="appo_search">

    <%= search_input f, :term, placeholder: "🔍", autocomplete: "off", class: "rounded-md ml-4 h-9 w-28" %>
    <%= error_tag f, :term %>
  </.form>

  <span><%= live_patch "New Appo", to: Routes.appo_index_path(@socket, :new), class: "new_one" %></span>
</div>

<%= if @live_action in [:new, :edit] do %>
  <.modal return_to={Routes.appo_index_path(@socket, :index)}>
    <.live_component
      module={Lv13Web.AppoLive.FormComponent}
      id={@appo.id || :new}
      title={@page_title}
      action={@live_action}
      appo={@appo}
      current_user={@current_user}
      return_to={Routes.appo_index_path(@socket, :index)}
    />
  </.modal>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>State</th>
      <th>Is clinet</th>
      <th>Person in charge</th>
      <th>Date</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="appos">
    <%= for appo <- @appos do %>
      <tr id={"appo-#{appo.id}"}>
        <td><%= appo.id %></td>
        <td><%= appo.name %></td>
        <td><%= appo.state %></td>
        <td><%= appo.is_client %></td>
        <td><%= appo.person_in_charge %></td>
        <td><%= appo.date %></td>

        <td>
          <span><%= live_patch "Edit", to: Routes.appo_index_path(@socket, :edit, appo) %></span>
          <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: appo.id, data: [confirm: "Are you sure?"] %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
